@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary-color:#FFA62B;
  --secondary-color:#00A0C1;
  --desc-color:#646464;
  --bg-secondary:var(--secondary-color);
 

}

.App{
  font-family: 'Montserrat', sans-serif;
}

.nav-title{
  font-size: 24px;
}
/* ----------------------------------- */
.section{
  display: block;
  height: 100vh;
  position: relative;
  padding-top: 2rem;
  
  
  
}
/* ---------------------------------- */
.main-page-title{
  font-weight: 800;
  font-size: 58px;
}
.main-page-desc{
  font-size: 20px;
  font-weight: 500;
  color: var(--desc-color);
}
/* ----------------------------------- */
.main-card{
  transition: .4s;
  
}
.card-icon{
  font-size: 47px;
  
}
.main-card:hover{
  color: white;
  background-color: #00A0C1;
 
  
}
.card-title{
  font-size: 23px;
  

}
/* --------------------- */
.practice-section{
  padding-top: 12rem;
  text-align: center;
}
.section-title{
  font-size: 40px;
  display: block;

}
.section-desc{
  font-size: 14px;
  color: var(--desc-color);
  padding-bottom: 2rem;
}
/* -------------------- */
.practice-card{
  text-align: left;
}
.practice-card-title{
  font-size: 17px;
}
.practice-card-desc{
  color: var(--desc-color);
  
}
/* -------------------- */
.buisness-section{
  padding-top: 15rem;
  text-align: center;
}
.buisness-section-desc{
  padding-bottom: 4rem;
}
.buisness-second-title{
  text-align: left;
}
.buisness-second-desc{
  text-align: left;
  padding-bottom: 7px;
}
/* ----------------------- */
.col-icons{
  color: var(--primary-color);
  font-size: 30px;
}
.col-title{
  font-size: 15px;
  font-weight: 700;
}
.col-table{
  text-align: left;
  font-weight: bold;
}
.col-desc{
  font-size: 13px;
  color: var(--desc-color);
  padding-bottom: 10px;
}
/* -------------------------- */
.company-logos{
  padding-top: 5rem;
}
.company-icons{
  font-size: 80px;
  color:var(--desc-color)
}